# nexus
JASPY_DB_URL=postgres://jaspy:pass@db/jaspy
JASPY_EVENT_PUBLISH=tcp://*:31336

# poller
JASPY_URL=http://nexus:8000
JASPY_SNMPBOT_URL=http://snmpbot:8286
POLL_LOOP_MSECS=10000
JASPY_POLLER_DISCOVERY_INTERVAL=10

# pinger
JASPY_SOURCE_URL=http://nexus:8000/device/monitor

# weathermap
JASPY_NEXUS_URL=http://nexus/weathermap
JASPY_PROMETHEUS_URL=https://blah/prometheus/api/v1/query?query=

# discover
JASPY_COMMUNITY=snmp_community
JASPY_ROOT_DEVICE=gw.example.com
JASPY_DNS_DOMAIN=example.com

# pgsql
POSTGRES_USER=jaspy
POSTGRES_PASSWORD=pass
