[Unit]
Description=jaspy-nexus
After=network.target postgresql.service

[Service]
Type=simple
User=jaspy
Group=jaspy
ExecStart=/usr/lib/jaspy/jaspy-entitypoller -jaspy-api http://0.0.0.0:8000

[Install]
WantedBy=multi-user.target

