[Unit]
Description=snmpbot
After=network.target

[Service]
Type=simple
User=snmpbot
Group=snmpbot
ExecStart=/usr/bin/snmpbot -snmp-mibs /var/lib/jaspy/mibs

[Install]
WantedBy=multi-user.target

