[Unit]
Description=jaspy-switchmaster
After=jaspy-nexus.service
Requisite=jaspy-nexus.service

[Service]
Type=simple
User=jaspy
Group=jaspy
WorkingDirectory=/usr/lib/jaspy/switchmaster
ExecStart=/usr/lib/jaspy/switchmaster/Jaspy.Switchmaster

[Install]
WantedBy=multi-user.target
